.header {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    transition: top .5s ease-in-out;
    -webkit-transition: top .5s ease-in-out;
    -moz-transition: top .5s ease-in-out;
    -ms-transition: top .5s ease-in-out;
    -o-transition: top .5s ease-in-out;
}

.header.scrolled {
    position: fixed;
    background-color: $dark;
    animation: headerFade .5s both;
    -webkit-animation: headerFade .5s both;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.header.scrolled .headerInner {
    height: 10vh;
}

.header.scrolled .headerLogo img {
    max-width: 200px;
}

.logged-in .header {
    top: 32px;
    @include responsive('small') {
        top: 46px;
    }
}

.logged-in .header.scrolled {
    top: 32px;
    @include responsive('small') {
        top: 0;
    }
}

.headerInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 12vh;
    
    width: 95vw;
    margin: 0 auto;
    @include responsive('tablet') {
        height: 10vh;
        width: min($containerMobile, 900px);
    }
}

.headerLogo img{
    max-width: 280px;
    height: auto;
}

.headerLinks {
    display: flex;
}

.headerLinks ul {
    display: flex;
    list-style: none;
}

.headerLinks a {
    padding: 10px 2.2vw;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 1.2px;
}

.hamburger {
    display: none;
}


@include responsive('small') {
    .header.--active {
        background-color: rgb(33, 33, 33, 0.95);
    }

    .headerLogo img {
        max-width: 200px;
    }

    .headerLinks {
        display: none;
        animation: navLinksOut .5s both;
        -webkit-animation: navLinksOut .5s both;
    }

    .header.--active {
        z-index: 999;
    }

    .headerLinks ul {
        flex-direction: column;
        font-size: 32px;
        line-height: 60px;
        letter-spacing: 5px;
    }

    .--active .headerLinks {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        order: 1;
        flex: 1 0 100%;
        height: 90vh;
        background-color: rgb(33, 33, 33, 0.95);
        position: absolute;
        top: 10vh;
        left: 0;
        width: 100%;
        animation: navLinksFade .5s both;
        -webkit-animation: navLinksFade .5s both;
    }

    .scrolled .headerLinks {
        top: 10vh;
    }

    .hamburger {
        cursor: pointer;
        background-color: transparent;
        display: inline-block;
        padding: 15px 0px 15px 15px;
        border: none;
        outline: none;
    }
    
    .hamburger__box {
        position: relative;
        width: 32px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hamburger__inner {
        width: 100%;
        height: 2px;
        background-color: $white;
        position: absolute;
        transition: background-color .1s .2s ease-in-out;
    }
    
    .hamburger__inner::before, .hamburger__inner::after {
        content: '';
        height: 2px;
        background-color: $white;
        position: absolute;
        transition: transform .2s .2s ease-in-out;
    }
    
    .hamburger__inner::before {
        top: -10px;
        width: 80%;
        right: 0;
    }

    .hamburger__inner::after {
        top: 10px;
        width: 70%;
        right: 0;
    }

    .header.--active .hamburger__inner {
        background-color: transparent;
    }
    .header.--active .hamburger__inner::before {
        width: 100%;
        transform: translateY(10px) rotate(45deg);
        background-color:$white;
        -webkit-transform: translateY(10px) rotate(45deg);
        -moz-transform: translateY(10px) rotate(45deg);
        -ms-transform: translateY(10px) rotate(45deg);
        -o-transform: translateY(10px) rotate(45deg);
    }
    .header.--active .hamburger__inner::after {
        width: 100%;
        transform: translateY(-10px) rotate(-45deg);
        background-color: $white;
        -webkit-transform: translateY(-10px) rotate(-45deg);
        -moz-transform: translateY(-10px) rotate(-45deg);
        -ms-transform: translateY(-10px) rotate(-45deg);
        -o-transform: translateY(-10px) rotate(-45deg);
    }
}

@keyframes headerFade {
    from {
        opacity: .5;
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
}
    
    to {
        opacity: 1;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
}

@keyframes navLinksFade {
    from {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
}
    
    to {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
}

@keyframes navLinksOut {
    from {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
    
    to {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
    }
}